:root {
  --thm-gray: #878c8f;
  --thm-gray-rgb: 135, 140, 143;
  --thm-base: #2371ff;
  --thm-base-rgb: 35, 113, 255;
  --thm-primary: #ff5e14;
  --thm-primary-rgb: 255, 94, 20;
  --thm-gray-bg: #f5f5f5;
  --thm-gray-bg-rgb: 245, 245, 245;
}